<h1>Sign up</h1>
<form name="myForm" ng-submit="create()">
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input type="email" id="email" name="email" placeholder="Email" ng-model="registration.email" ng-minlength="2" required>
    </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="Password" ng-model="registration.password" ng-minlength="2" password-validate required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password_confirmation">Password</label>
      <div class="controls">
        <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Password" ng-model="registration.password_confirmation" ng-minlength="2" password-validate required>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sign up</button>
      </div>
  </div>
  <hr>
  <tt>{{registration}}</tt><br>
  <hr>
  <tt>myForm.email.$valid = {{myForm.email.$valid}}</tt><br>
  <tt>myForm.email.$error = {{myForm.email.$error}}</tt><br>
  <tt>myForm.password.$valid = {{myForm.password.$valid}}</tt><br>
  <tt>myForm.password.$error = {{myForm.password.$error}}</tt><br>
  <tt>myForm.password_confirmation.$valid = {{myForm.password_confirmation.$valid}}</tt><br>
  <tt>myForm.password_confirmation.$error = {{myForm.password_confirmation.$error}}</tt><br>
  <tt>myForm.$valid = {{myForm.$valid}}</tt><br>
  <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br>
  <tt>myForm.$error.minlength = {{!!myForm.$error.minlength}}</tt><br>
  <tt>myForm.$error.maxlength = {{!!myForm.$error.maxlength}}</tt><br>
</form>​